<div id="<%= dom_id manager %>">
  <p>
    <strong>Name:</strong>
    <%= manager.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= manager.email %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= manager.project_id %>
  </p>

  <p>
    <strong>Rmk:</strong>
    <%= manager.rmk %>
  </p>

</div>
