<div id="<%= dom_id site %>">
  <p>
    <strong>Street:</strong>
    <%= site.street %>
  </p>

  <p>
    <strong>City:</strong>
    <%= site.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= site.state %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= site.manager_id %>
  </p>

</div>
